<!DOCTYPE html>
<html>

<head>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="static/css/about_us.css" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    {% include "navbar.html" with active_tab="about-us" %}
    <div class="inner-wrapper d-flex">
      <div class="about-section">
        <h1>E-Fundraiser</h1>
        <p>E-Fundraiser support the dreamers and the doers</p>
        <p>Here today, looked upon tomorrow (venture capital fund with a strong social responsibility).</p>
        <p>We ensure that you are investing in a unique platform where there is something meaningful going on, rather than
          just an idea.</p>

      </div>
      <div class="card-wrapper">
        <div class="card text-center detail-card ">

          <h4>Finest platform for investing in startups</h4>

          <p>We have created a new product that will help you to invest or to raise funds for your own startups quickly and
            easily.</p>
          <div class="cards-cover d-flex">
            <div class="card">
              <div class="card-body">
                <p class="card-text">100+</p>
                <p class="card-text">Investment made</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <p class="card-text">3k+</p>
                <p class="card-text">Portfolio Value</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <p class="card-text">347k+</p>
                <p class="card-text">Fund Raised</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <p class="card-text">18k+</p>
                <p class="card-text">Startup Register</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <p class="card-text">10k+</p>
                <p class="card-text">Investor on platform</p>
              </div>
            </div>
          </div>
        </div>

        <div class="detail-card">
          <h2 class="card-title text-center">Our Team</h2>
          <div class="developers d-flex">
            <div class="teamcard">
              <img src="/static/images/investor-avatar.webp" alt="Jane" style="width:100%">
              <div class="developer-details">
                <h2>Devraj Jain</h2>
                <p class="title">Developer</p>
                <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                <p>devraj.jain@quantphi.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
            <div class="teamcard">
              <img src="/static/images/investor-avatar.webp" alt="Mike" style="width:100%">
              <div class="developer-details">
                <h2>Chirag Ranpise</h2>
                <p class="title">Developer</p>
                <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                <p>chirag@gmail.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
            <div class="teamcard">
              <img src="/static/images/investor-avatar.webp" alt="John" style="width:100%">
              <div class="developer-details">
                <h2>Wrushikesh</h2>
                <p class="title">Developer</p>
                <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                <p>wrushikesh@gmail.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
            <div class="teamcard">
              <img src="/static/images/investor-avatar.webp" alt="John" style="width:100%">
              <div class="developer-details">
                <h2>Mayur Tadge</h2>
                <p class="title">Developer</p>
                <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                <p>mayur@gmail.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>