<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>E-fundraiser</title>
    <link rel="stylesheet" href="/static/css/account.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
      {% include "navbar.html" with active_tab="account" %}
      <div class="inner-wrapper d-flex">
        <div class="sidebar">
          <ul class="form-indexes">
            <img src="./static/images/profile_avator.svg" height="150px" width="100px" />
            <li><a href="#profile">My Profile</a></li>
            <li><a href="#startup">My Startups</a></li>
            <li><a href="#investment">Investment Detail</a></li>
            <li><a href="/new_startup">Add Startup</a></li>
          </ul>
        </div>
        <div class="content w-100">
          {% if messages %}
      {% for message in messages %}
  <div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
      <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close">
        
      </button>
      {{ message }}
    </div>
  </div>
  {% endfor %}
    {% endif %}
          <div class="my-profile" id="profile">
            <div class="h4 title mx-auto">My Profile</div>
            <div class="user-details">

              <form method="post" class="form" action="/account">
				        {%csrf_token%}
                <div class="form-group">
                  <label><small>Name</small></label>
                  <input type="text" name="uname" value="{{name}}" class="form-control" required>
                </div>
                <div class="form-group">
                  <label><small>Email</small></label>
                  <input type="email" name="uemail" value="{{user.email}}" class="form-control" disabled>
                </div>
                <div class="form-group">
                  <label><small>Contact no.</small></label>
                  <input type="tel" name="ucontact" value="{{phone}}" pattern="[0-9]{10}" class="form-control" required>
                </div>
                <div class="form-group">
                  <input type="submit" value="Update" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>

          <div class="my-startup" id="startup">
            <div class="h4 title mx-auto">My Startups</div>
            {% for s in founders %}
              <a class="startup-details" href="/startup?id={{s.startup.id}}">
                {{s.startup.title}}
                <!-- <button type="button" class="btn btn-info">Delete</button> -->
              </a>
            {% endfor %}
          </div>	

          <div class="investment-details" id="investment">
            <div class="h4 title mx-auto">Investment Details</div>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Startup Name</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Stake</th>
                </tr>
              </thead>
              <tbody>
                {% for i in investments %}
                  <tr>
                    <th scope="row">{{i.startup.title}}</th>
                    <td>{{ i.amount }}</td>
                    <td>{{ i.stake }}%</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
