<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="”viewport”" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/home.css" />
    <title>Startup Details</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      {% include "navbar.html" with active_tab="home" %}
      <div class="inner-wrapper d-flex">
        {% if messages %} {% for message in messages %}
        <div class="container-fluid p-0">
          <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button
              type="button"
              class="btn-close shadow-none"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
            {{ message }}
          </div>
        </div>
        {% endfor %} {% endif %}
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="static/images/startup-detail3.jpg"
                style="width: 100%; height: 550px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="static/images/startup-detail2.jpg"
                style="width: 100%; height: 550px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="static/images/startup-detail1.jpg"
                style="width: 100%; height: 550px"
                alt="..."
              />
              <!-- class="d-block w-100" -->
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="home-content">
          <div class="title-search">
            <p>Top Startups</p>
            <div class="boxContainer">
              <table class="elementsContainer">
                <tr>
                  <td>
                    <input
                      type="text"
                      name="SearchBox"
                      placeholder="Search For Category"
                      class="search"
					  onkeyup="myFunction()"
					  id = "myFilter"
                    />
                  </td>
                  <td>
                    <a href="#"
                      ><img src="static/images/srch.png" class="srch-icon"
                    /></a>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <br /><br />
		  <div class="row d-flex justify-content-center align-items-center" id="myItems">
			{%for s in startups %}
			<div class="col-sm-3 mx-1 my-2">
			  <div class="card">
				<div class="card-body">
					<a href="/startup?id={{s.id}}" class="shadow bg-body rounded">
						<div class="card-img-top shadow p-1 bg-body rounded">
						  <img
							src="{{s.img | default:'/static/images/alt-startup-img.jpg'}}"
							class="startup-img"
						  />
						</div>
						<div class="card-body" style="padding: 10px">
						  <h5 class="card-title">{{s.firm_name}}</h5>
						  <p class="card-text">{{s.brief_desc}}</p>
						</div>
					</a>
				</div>
			  </div>
			</div>
			{%endfor%}
		  </div>
          <!-- <div id="myItems" class="card d-flex justify-content-center">
			<div class = "card" style="margin:auto">	
				<a href="/startup?id={{s.id}}" class="shadow bg-body rounded">
					<div class="card-img-top shadow p-1 bg-body rounded">
					  <img
						src="{{s.img | default:'/static/images/alt-startup-img.jpg'}}"
						class="startup-img"
					  />
					</div>
					<div class="card-body" style="padding: 10px">
					  <h5 class="card-title">{{s.firm_name}}</h5>
					  <p class="card-text">{{s.brief_desc}}</p>
					</div>
				</a>
			</div>
          </div> -->

          <br /><br />

          <!-- <div class="categories">
						<img style = "width:90vw" src="static/images/list2.png">
					</div> -->

          <br /><br /><br />

          <!-- <div class="each-category">
						<p class="food-startups">FOOD STARTUPS</p>
					<br>
						<div class="card-deck col d-flex justify-content-center">
							<div class="card">
								<img src="static/images/s1.png" class="card-img-top">
								<div class="card-body" style="padding: 10px;">
									<p class="location">Hyderabad, 2012</p>
									<h5 class="card-title">SKIPPI ICE POPS</h5>
									<p class="card-text">Skippi Ice Pops is India's first ice popsicle brand. The brand claims that its products are made of 100% Natural flavours, colours, preservatives and sweeteners.</p>
									<a href="#">Read More</a>
								</div>
							</div>
							<div class="card">
								<img src="static/images/s6.png" class="card-img-top">
								<div class="card-body" style="padding: 10px;">
									<p class="location">Gurgaon, 2016</p>
									<h5 class="card-title">JACKSON'S HONEST</h5>
									<p class="card-text">Jackson's rare autoimmune condition when they discovered the benefits of coconut oil. They began to make homemade chips with potatoes and coconut oil.</p>
									<a href="#">Read More</a>
								</div>
							</div>
							<div class="card">
								<img src="static/images/s4.webp" class="card-img-top">
								<div class="card-body" style="padding: 10px;">
									<p class="location">Goa, 2020</p>
									<h5 class="card-title">IN A CAN </h5>
									<p class="card-text">In A Can is a startup that manufacturers canned cocktails. InACan has revolutionized the way we can enjoy our cocktails. Imagine if the best bartender made the best cocktail at the best bar in your city Now</p>
									<a href="#">Read More</a>
								</div>
							</div>
						</div>
						<a href="#" class="col d-flex justify-content-end" style="font-size: 20px; color: white; text-decoration: underline;">View More></a>
					</div> -->

          <br />

          <!-- <div class="each-category">
						<p class="food-startups">TECH STARTUPS</p>
					<br>
						<div class="card-deck col d-flex justify-content-center">
							<div class="card">
								<img src="static/images/s7.png" class="card-img-top">
								<div class="card-body" style="padding: 10px;">
									<p class="location">Banglore, 2017</p>
									<h5 class="card-title">THINKERBELL LABS</h5>
									<p class="card-text">Their flagship product, Annie, a self-learning app for visually impaired individuals.Annie is the world’s first self-learning Braille device for the visually impaired.</p>
									<a href="#">Read More</a>
								</div>
							</div>
							<div class="card">
								<img src="static/images/s8.jpg" class="card-img-top">
								<div class="card-body" style="padding: 10px;">
									<p class="location">Mumbai, 2019</p>
									<h5 class="card-title">PNT SOLUTIONS</h5>
									<p class="card-text">Mumbai based robotics start-up PNT works on industrial projects based on AI, ML, ROS and IoT along with customised robotics solutions.</p>
									<a href="#">Read More</a>
								</div>
							</div>
							<div class="card">
								<img src="static/images/s9.png" class="card-img-top">
								<div class="card-body" style="padding: 10px;">
									<p class="location">Noida, 2021</p>
									<h5 class="card-title">ALISTE TECHNOLOGIES</h5>
									<p class="card-text">Aliste technologies provide home automation solutions, claiming to be the best in the market with the highest load-bearing capacity and industry-leading response time.</p>
									<a href="#">Read More</a>
								</div>
							</div>
						</div>
						<a href="#" class="col d-flex justify-content-end" style="font-size: 20px; color: white; text-decoration: underline;">View More></a>
					</div> -->
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
	<script>
		function myFunction() {
			var input, filter, cards, cardContainer, h5, title, i;
			input = document.getElementById("myFilter");
			filter = input.value.toUpperCase();
			//console.log(filter)
			cardContainer = document.getElementById("myItems");
			//console.log(cardContainer)
			cards = cardContainer.getElementsByClassName("card");
			for (i = 0; i < cards.length; i++) {
				title = cards[i].querySelector(".card-body h5.card-title");
				console.log(title.innerText.indexOf(filter));
				if (title.innerText.toUpperCase().indexOf(filter) > -1) {
					console.log(cards[i])
					cards[i].style.display = "";
				} else {
					cards[i].style.display = 'none';
				}
			}
		}
	</script>
  </body>
</html>
