<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>E-fundraiser</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="static/css/about_us.css" rel="stylesheet">
  <link href="static/css/navbar.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<style>
  .navbar-nav {
    max-width: 180px;
  }
</style>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="nav-compact">
          <a class="navbar-brand d-flex" href="#"><img src="static\images\logo.svg" class="logo"><span
              class="nav-title">E-fundraiser</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/login">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link register-btn" href="/register">Signup</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="inner-wrapper d-flex welcome-wrapper">
      <div class="about-section">
        <h1 class="card-text" style="color:white" style="font-size:500px;"><b>Let's Invest Together</b></h1>
        <p class="card-text" style="color:white">Raise Funds</p>
        <p class="card-text" style="color:white">Invest in Startup</p>
        <p class="card-text" style="color:white">secure and Trasnparent Technology Platform</p>
        <a href="/register" class="btn btn-primary">Join to raise fund or invest</a>
      </div>
      <div class="wrapper-cover">
        <div class="card-wrapper landing-card-wrapper">
          <div class="card text-center detail-card welcome-card ">
            <h4>Finest platform for investing in startups</h4>
            <p>We have created a new product that will help you to invest or to raise funds for your own startups quickly and
              easily.</p>
            <div class="cards-cover d-flex">
              <div class="card stat-card">
                <div class="card-body">
                  <p class="card-text numbers">100+</p>
                  <p class="card-text">Investment made</p>
                </div>
              </div>
              <div class="card stat-card">
                <div class="card-body">
                  <p class="card-text numbers">3k+</p>
                  <p class="card-text">Portfolio Value</p>
                </div>
              </div>
              <div class="card stat-card">
                <div class="card-body">
                  <p class="card-text numbers">347k+</p>
                  <p class="card-text">Fund Raised</p>
                </div>
              </div>
              <div class="card stat-card">
                <div class="card-body">
                  <p class="card-text numbers">18k+</p>
                  <p class="card-text">Startup Register</p>
                </div>
              </div>
              <div class="card stat-card">
                <div class="card-body">
                  <p class="card-text numbers">10k+</p>
                  <p class="card-text">Investor on platform</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="join-card">
        <h4>Get Started With E-FundRaiser</h4>
        <div class="developers join-us d-flex">
          <div class="role-card">
            <img class="card-img-top" src="static/images/Vector.jpg" alt="Card image cap">
            <h5 class="numbers">Are you a Startup ?</h5>
            <p class="card-text">Fundraise in STEALTH with your curated list of investors & access value-added capital.
              Bring all invesors as a single entity in your cap table.</p>
          </div>

          <div class="role-card">
            <img class="card-img-top" src="static/images/Group.jpg" alt="Card image cap">
            <h5 class="numbers">Are you an investor ?</h5>
            <p class="card-text">Discover and Invest in curated startups. Get access to exclusive allocations and build
              your investment portfolio.</p>
          </div>
        </div>
        <div class="container">
          <a href="/register" class="btn btn-primary">Get Started</a>
        </div>

      </div>
    </div>
  </div>
</body>

</html>