<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Navbar</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">

    <style>
	.logo{
		padding-right: 10px;
		height: 70px;
		width: 70px;
	}
	.company{
		font-family: 'PT Serif', serif;	
		font-style: normal;
		font-weight: 600;
		font-size: 45px;
		color: #414141
	}
	.nav-item{
		padding: 0 45px;
		font-size: 20px;
	}
	.dropdown-item{
		padding:10px;
		font-style: italic;
	}
	.dropdown-logo{
		justify-content: flex-start;
		margin-right: 15px;
		height: 20px;
		width: 20px;
	}

</style>
  </head>
  <body>
  	<header>	 	
	 	<nav class="navbar navbar-expand-lg navbar-light" style="box-shadow: 0px 4px 35px 2px rgba(0, 0, 0, 0.18);">	 
	 		<img class="logo" src="logo.jpg" alt="Company Logo">
	 		<h3 class="company">E-Fundraiser</h3> 		
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  		</button>
	  		<div class="collapse navbar-collapse" id="navbarNavDropdown" style="justify-content: flex-end;">
			    <ul class="navbar-nav">
				    <li class="nav-item active">
				        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">About Us</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Investors</a>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          More
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="#"><img class="dropdown-logo" src="faq-logo.png" alt="FAQ Logo">FAQ's</a>
				          <a class="dropdown-item" href="#"><img class="dropdown-logo" src="settings-logo.png" alt="Settings Logo">Settings</a>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item" href="#"><img class="dropdown-logo" src="signout-logo.png" alt="Signout Logo">Signout</a>
				        </div>
				      </li>
		    	</ul>
	  		</div>
		</nav>
	</header>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>